/*
 * style.css
 *
 * This file should be minified to static/css/style.min.css. 
 * Checks docs in main.go
 */

@media (prefers-color-scheme: dark) {
    :root:not(.-no-dark-theme) {
        --fg: oklch(0.95 0.01 243.80);
        --bg: oklch(0.18 0.01 258.40 / 1);
        --box-bg: oklch(0.22 0.02 256.84 / 1);
        --accent: oklch(0.62 0.20 258.32);
        --graphical-fg: oklch(0.34 0.01 252.36);
        --interactive-bg: oklch(0.28 0.01 256.82);
        --muted-fg: oklch(0.66 0.02 251 / 1);
        --muted-fg: oklch(0.97 0.01 248.12 / 0.1);
        /* This is fg for button // --interactive-fg: oklch(0.86 0.01 248.11); */
        /* for header navbar bg: // --box-bg: oklch(0.1 0.02 248.35); */
    }

    /* Note: The pointer cursor is for links */
    button,
    a.\<button\> {
        box-shadow: none;
    }
}

@media (width >=1250px) {

    /* hints to the browser about how content should be rendered and handled 
    in terms of rendering performance. */
    .content-auto {
        content-visibility: auto;
    }
}

:root {
    --pico-spacing: var(--rhythm, 20px);
    --pico-border-width: 1px;
    --pico-table-border-color: var(--muted-fg);
    --pico-background-color: var(--bg);
    --pico-color: var(--fg);
    --pico-font-weight: 400;
}

main {
    max-width: min(100% - 1em, 1024px);
    min-height: min(65svh, 550px);
}

input:invalid {
    border: 3px var(--bad, red) solid;
}

/* td:has(.chip){ vertical-align: middle; } */

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
}

:where(table) {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: 0
}

tfoot td,
tfoot th,
thead td,
thead th {
    font-weight: 600;
    border-width: 0.1875rem
}

td,
th {
    padding: calc(var(--pico-spacing)/ 2) var(--pico-spacing);
    border-bottom: var(--pico-border-width) solid var(--pico-table-border-color);
    /* background-color: var(--pico-background-color); */
    /* color: var(--pico-color); */
    font-weight: var(--pico-font-weight);
    text-align: left;
    text-align: start
}

tfoot td,
tfoot th {
    border-top: var(--pico-border-width) solid var(--pico-table-border-color);
    border-bottom: 0
}

/* @layer utilities { */
/* .content-auto { */
/* content-visibility: auto; */
/* } */
/* } */

/* body { */
/* @apply text-terminal-100; */
/* background-color: hsl(240, 6%, 10%); */
/* } */


/* #region HTMX */
.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}

.htmx-settling tr.deactivate td {
    background: lightcoral;
}

.htmx-settling tr.activate td {
    background: darkseagreen;
}

tr td {
    transition: all 1.2s;
}

tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.smooth {
    transition: all 1s ease-in;
}

.htmx-swapping {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.htmx-settling {
    transition: opacity 300ms ease-out;
}

.no-highlights {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.collapsed:not(.show) {
    display: none;
}

.collapsing {
    display: block;
    overflow: hidden;
    transition: height 0.35s ease;
}

.collapsed.show {
    display: block;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.35s ease;
}

.fade-in {
    opacity: 1 !important;
}

/* #endregion HTMX */